\PracticasIG\Etapa 3\.vs\Practica1\v16\ipch
\PracticasIG\Practica2\.vs\Practica1\v16\ipch
\PracticasIG\Practica2\.vs\Practica1\v16\ipch
\PracticasIG\Etapa6\.vs\Etapa6\v16\ipch
\PracticasIG\Etapa6\Etapa6\models